<element name="app-mozfest">
  <template>
    <style type="text/css">
      app-mozfest .session {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        clear: both;
        border-bottom: 1px solid #ccc;
      }

      app-mozfest .title {
        color: #11B;
        cursor: pointer;
      }

      app-mozfest .time {
        text-align: right;
        font-size: .8em;
        font-style: italic;
      }

      app-mozfest iframe {
        border: 0;
      }
    </style>
  </template>
  <friends>app-button</friends>
  <thumbnail>
    <span style="color: #fff; text-align: center;">Mozfest 2013</span>
  </thumbnail>
  <description>
    Shows session details for MozFest 2013.
  </description>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        var gid = 4;
        var callbackFunction = '_appmakerMozfestCallback' + (Math.round(Math.random() * 1000));
        var that = this;

        window[callbackFunction] = function (data) {
          delete window[callbackFunction];
          var tmpDiv = document.createElement('div');
          tmpDiv.innerHTML = data;
          var entries = tmpDiv.querySelectorAll('entry');
          var sessions = [];
          Array.prototype.forEach.call(entries, function (entry) {
            var entryData = entry.querySelector('category');
            var cell = entryData.querySelector('title').innerHTML.match(/([A-Z]+)([0-9]+)/);
            var col = cell[1];
            var row = Number(cell[2]) - 1;

            if (row === 0) return;

            var session = sessions[row] || {};

            var map = {
              A: 'start',
              B: 'end',
              D: 'title',
              H: 'link'
            };

            if (map[col]) {
              session[map[col]] = entryData.querySelector('content').innerHTML;
            }

            sessions[row] = session;
          });

          sessions = sessions.sort(function (a, b) {
            return (a.start < b.start) ? -1 : (a.start > b.start ? 1 : 0);
          });

          var iframe;

          sessions.forEach(function (session) {
            var sessionDiv = document.createElement('div');
            var titleDiv = document.createElement('div');
            var timeDiv = document.createElement('div');
            sessionDiv.classList.add('session');
            timeDiv.classList.add('time');
            titleDiv.classList.add('title');
            titleDiv.innerHTML = session.title;
            timeDiv.innerHTML = session.start + ' - ' + session.end;
            sessionDiv.appendChild(titleDiv);
            sessionDiv.appendChild(timeDiv);
            that.appendChild(sessionDiv);

            titleDiv.onclick = function (e) {
              var parentNode;
              if (iframe) {
                parentNode = iframe.parentNode;
                if (parentNode) {
                  iframe.parentNode.removeChild(iframe);
                }
              }
              if (parentNode !== sessionDiv && session.link) {
                iframe = document.createElement('iframe');
                iframe.src = session.link;
                sessionDiv.appendChild(iframe);
              }
            };
          });
        };

        var scriptTag = document.createElement('script');
        scriptTag.src = 'http://spreadsheets.google.com/feeds/cells/0Ajsn8X28XnbZdFlxaEExNkREa1VmWndSdzZjeHRBOXc/' + gid + '/public/basic?callback=' + callbackFunction;
        document.head.appendChild(scriptTag);
      },
      editable: {
        // buttonLabel: {
        //   type: "text",
        //   description: "A text for your label to show up in your app",
        //   postset: function(v) {
        //     this.setLabel(v);
        //   }
        // },
        // textColor: {
        //   type: "text",
        //   description: "The color of the button label",
        //   postset: function(v) {
        //     this.setTextColor(v);
        //   }
        // },
        // buttonColor: {
        //   type: "text",
        //   description: "The color of your button",
        //   postset: function(v) {
        //     this.setButtonColor(v);
        //   }
        // }
      },
      // setLabel: function (val) {
      //   this.querySelector('button').innerHTML = val;
      // },
      // setButtonColor: function (val) {
      //   this.querySelector('button').style.backgroundColor = val;
      // },
      // setTextColor: function (val) {
      //   this.querySelector('button').style.color = val;
      // },
      // broadcasts: ['click', 'mouseDown', 'mouseUp']
    });
  </script>
</element>
